= form_for(@request) do |request|
	.new_request_item
		= request.text_field :name, :placeholder => "JoeMc"
	.new_request_item
		= request.email_field :email, :placeholder => "joemc@mit.edu"
	.new_request_item
		= request.text_area :item, :placeholder => "Supplies for SW", :rows => "4"
	.new_request_item
		= request.text_field :amount, :placeholder => "$42.12"
	.new_request_item
		= request.select(:budget, options_for_select(['Pres', 'VP']))
	= submit_tag "Submit Reimbursement", :class => 'btn btn-primary'